/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100vh;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#content-div {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 100vh;
  grid-template-areas: "wait map";
}

#wait-div {
  grid-area: wait;
  overflow-y: scroll;
}

#map {
  grid-area: map;
}
